In [7]:
import pandas as pd
import numpy as np
from scipy import stats

In [8]:
df = pd.read_csv(r"data.csv")
print(df)

       Index        Date  Customer_ID  Transaction_ID SKU_Category    SKU  \
0          0  02/01/2022         3686               3        Skirt  CZUZX
1          1  02/01/2022         3719               4        Skirt  549KK
2          2  02/01/2022         9200               5        Skirt  K8EHH
3          3  02/01/2022         1666               7        Shoes  AHZNS
4          4  02/01/2022         1253               8        Skirt  9STQJ
...      ...         ...          ...             ...          ...    ...
61858  61858  04/07/2022        20203           32900          Hat  FO112
61859  61859  04/07/2022        20203           32900      T-shirt  I36F2
61860  61860  04/07/2022        20203           32900       Shorts  4X8P4
61861  61861  04/07/2022        20203           32900        Skirt  ZVTO4
61862  61862  04/07/2022        20203           32900     Crop Top  QM9BP

       Quantity  Sales_Amount  Operational_Cost  Customer_Age
0           1.0          63.5              44.6            51
1           1.0          55.9              41.1            27
2           1.0          68.8              52.6            39
3           1.0          82.1              56.7            39
4           1.0          82.5              58.7            30
...         ...           ...               ...           ...
61858       3.0          64.6              16.4            24
61859       1.0          45.0              32.5            24
61860       1.0          51.9              39.2            24
61861       1.0          45.7              35.9            24
61862       1.0         136.8             115.3            24

[61863 rows x 10 columns]

In [16]:
z_scores = np.abs(stats.zscore(df["Sales_Amount"]))
z_threshold = 100

outlier_mask = z_scores > z_threshold

cleaned_df = df[~outlier_mask]

print(cleaned_df.sort_values("Sales_Amount"))

       Index        Date  Customer_ID  Transaction_ID SKU_Category    SKU  \
38704  38704  20/09/2022        14219           45167        Skirt  CZUZX
54833  54833  07/12/2022        12021           59812     Crop Top  1RZSS
42789  42789  08/10/2022        21770           48774        Skirt  CZUZX
47065  47065  28/10/2022        15528           52656        Skirt  CZUZX
49650  49650  12/11/2022        20561           55113        Skirt  UP0YH
...      ...         ...          ...             ...          ...    ...
58860  58860  22/12/2022        17045           63313   Sunglasses  4Y96V
32388  32388  14/08/2022        16622           39011   Sunglasses  CUASB
27735  27735  13/06/2022          174           29334   Sunglasses  CUASB
26161  26161  02/06/2022        20337           27534       Shorts  IYMS1
17397  17397  13/04/2022        17431           17684       Shorts  IYMS1

       Quantity  Sales_Amount  Operational_Cost  Customer_Age
38704       1.0           0.2               0.1            42
54833       1.0           0.2               0.2            33
42789       1.0           0.2               0.1            21
47065       1.0           0.2               0.1            25
49650       1.0           0.2               0.1            34
...         ...           ...               ...           ...
58860       1.0        1942.0            1536.1            59
32388       3.0        1950.9             485.1            36
27735       3.0        1950.9             485.1            47
26161       3.0        2118.3             605.1            33
17397       3.0        2118.3             605.1            39

[61863 rows x 10 columns]